@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "themes/green";

.app {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
  background: var(--bg-color);
}

.app_redesigned {
  min-height: 100vh;
  background: var(--bg-redesigned);
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 1px solid var(--primary-color);
}
