.app_green_theme {
  --bg-color: #f4fbf4;
  --inverted-bg-color: #0b550d;

  --primary-color: #0b550d;
  --inverted-primary-color: #f4fbf4;

  --secondary-color: #1e3206;
  --inverted-secondary-color: #f4fbf4;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #d5d5d7;
}
