.app_green_theme {
  --bg-color: #f4fbf4;
  --inverted-bg-color: #0b550d;

  --primary-color: #0b550d;
  --inverted-primary-color: #f4fbf4;

  --secondary-color: #1e3206;
  --inverted-secondary-color: #f4fbf4;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #d5d5d7;
}
